<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BorgCam</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        // Websocket connection.
        const ws = new WebSocket('ws://' + window.location.host + '/ws');
        ws.addEventListener('message', function (event) {
            console.log(event.data);
        });

        // Camera movement
        let moveTimer = null;

        function moveCam(direction) {
            ws.send(`move:${direction}`);
        }

        function startMove(direction) {
            if (moveTimer != null) {
                clearInterval(moveTimer);
            }
            moveTimer = setInterval(() => {
                moveCam(direction);
            }, 100);
        }

        function stopMove() {
            clearInterval(moveTimer);
        }

        // Disable long-press context menu
        window.oncontextmenu = function (event) {
            event.preventDefault();
            event.stopPropagation();
            return false;
        };

        // Show/hide all UI elements
        let uiVisible = true;
        function toggleUI() {
            uiVisible = !uiVisible;
            for (el of document.getElementsByClassName('ui')) {
                el.style.display = uiVisible ? 'block' : 'none';
            };
        }

        // Double tap handler for center element.
        let centerTapped = false;
        function centerTap() {
            if (!centerTapped) {
                centerTapped = true;
                setTimeout(function () { centerTapped = false; }, 300);
                return false;
            }
            event.preventDefault();
            toggleUI();
        }

        // Zoom
        let zoomLevel = 0;

        function setZoom() {
            el = document.getElementById('video-stream');
            el.style.transform = `scale(${1 + zoomLevel * 0.2})`;
        }

        function zoomIn() {
            if (zoomLevel >= 10) {
                return;
            }
            zoomLevel++;
            setZoom();
        }

        function zoomOut() {
            if (zoomLevel <= 0) {
                return;
            }
            zoomLevel--;
            setZoom();
        }

        let zoomTimer = null;

        function startZoom(zfunc) {
            if (zoomTimer != null) {
                clearInterval(zoomTimer);
            }
            zoomTimer = setInterval(() => {
                zfunc();
            }, 100);
        }

        function stopZoom() {
            clearInterval(zoomTimer);
        }

        // Stop all active events.
        function stopAll() {
            stopMove();
            stopZoom();
        }
    </script>
</head>

<body onmouseup="stopAll()" ondragend="stopAll()" ontouchcancel="stopAll()" ontouchend="stopAll()">
    <img id="video-stream" src="stream.mjpg"></img>
    <div id="move-bar" class="ui">
        <img class="move-button" onmousedown="startMove('left')" ontouchstart="startMove('left')"
            src="{{ url_for('static', filename='left.svg') }}" style="height: 100%;"></img>
        <img class="move-button" onmousedown="startMove('down')" ontouchstart="startMove('down')"
            src="{{ url_for('static', filename='down.svg') }}" style="height: 100%;"></img>
        <img class="move-button" onmousedown="startMove('up')" ontouchstart="startMove('up')"
            src="{{ url_for('static', filename='up.svg') }}" style="height: 100%;"></img>
        <img class="move-button" onmousedown="startMove('right')" ontouchstart="startMove('right')"
            src="{{ url_for('static', filename='right.svg') }}" style="height: 100%;"></img>
    </div>
    <div id="zoom-bar" class="ui">
        <img class="zoom-button" onmousedown="startZoom(zoomIn)" ontouchstart="startZoom(zoomIn)" src="{{ url_for('static', filename='plus.svg') }}"
            style="height: 100%;"></img>
        <img class="zoom-button" onmousedown="startZoom(zoomOut)" ontouchstart="startZoom(zoomOut)" src="{{ url_for('static', filename='minus.svg') }}"
            style="height: 100%;"></img>
    </div>
    <div id="center" ondblclick="toggleUI()" ontouchstart="centerTap()">
    </div>
</body>